.SingleOrder {
    width: 328px;
    height: 83px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 12px;
    position: fixed;
    border-width:0 0 0.2px 0;
    border-style: solid;
    border-color: #c5c5c5;
    z-index: 100;
    .OrderContainer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        .ProductDetail {
            width: 60%;
            display: flex;
            flex-direction: column;
        }
        .Product {
            width: 40%;
            display: flex;
            flex-direction: column;
        }
        .text {
            display: flex;
            align-items: center;
            line-height: 20px;
            font-size: 12px;
        }
    }
}
