.Order {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    .title {
        position: absolute;
        top: 40px;
        right: 0px;
        margin-right: 40px;
        color: var(--primary-color);
        font-size: 12px;
    }
    .Button {
        margin-top: 50px;
    }
    .description {
        margin: 15px 5px 5px 0;
        font-size: 12px;
    }
    .Form {
        position: absolute;
        top: 20px;
        padding-bottom: 130px;
        .innerIcon {
            left: 10px;
            z-index: 90;
            top: 14px;
            position: absolute;
        }
    }
}
