.OrderCard {
    width: 328px;
    height: 142px;
    border-radius: 8px;
    background-color: var(--info-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
    .OrderContainer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        .ProductDetail {
            width: 50%;
            display: flex;
            flex-direction: column;
        }
        .Product {
            width: 50%;
            display: flex;
            flex-direction: column;
        }
        .text {
            display: flex;
            align-items: center;
            padding-top: 11px;
            line-height: 20px;
        }
    }
    .Button {
        position: absolute;
        left: 12px;
        bottom: 11px;
    }
}
