.Select {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: auto;

    .option {
        height: 43px;
        width: 100%;
        margin-bottom: 12px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active {
        background-color: var(--color-secondary);
        color: var(--color-light);

        cursor: pointer;
    }
    .disable {
        background-color: var(--color-disable);
        cursor: not-allowed;
    }
    .selected {
        background-color: var(--color-primary);
        cursor: pointer;
        color: var(--color-light);
        transition: all 0.2s linear;
    }
}
