.Button {
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 8px;
    margin: 0 auto;
    gap: 10px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--dark-color-h);
        color: var(--white-color);
    }
}
.Button:disabled {
    color: var(--white-color);
    background-color: var(--dark-color-h);
    cursor: not-allowed;
}
