.FilterOrders {
    position: fixed;
    top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 360px;
    height: 45px;
    background-color: var(--color-light);
    z-index: 100 !important;
    .status {
        border-radius: 8px;
        padding: 0px 20px;
        height: 24px;
        font-size: 16px;
        cursor: pointer;
    }
    .ActiveStatus {
        background-color: var(--color-primary);
        color: var(--color-light);
        transition: all 0.2s linear;
    }
    .notActiveStatus {
        border: 0.2px solid var(--color-primary);
        background-color: var(--color-light);
    }
}
