.InputGroup {
    border: none;
    box-shadow: none;
    outline: none;
    &:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }
}
.Input {
    width: 280px;
    font-size: 16px;
    position: relative;
    margin-top: 20px;
    textarea {
        padding: 10px 10px 0px 50px !important;
        line-height: 16px;
        height: 70px !important;
        resize: none;
        display: flex;
        align-items: center;
    }

    .LabelIsRequired {
        color: var(--color-danger);
        font-weight: 400;
        font-size: 9px;
        position: absolute;
        right: 20px;
        top: -7px;
        z-index: 90;
        padding: 0 5px 0 10px;
        border-radius: 25px;
        background-color: white;
    }
    .star {
        position: absolute;
        top: -7px;
        font-size: 15px;
        font-weight: bold;
        padding: 0 2px;
    }
    .Label {
        color: var(--color-dark);
        font-weight: 400;
        font-size: 9px;
        position: absolute;
        right: 20px;
        top: -7px;
        z-index: 90;
        padding: 0 5px;
        border-radius: 25px;
        background-color: white;
    }
    .InputElement {
        font-weight: 400;
        font-size: 16px;
        text-align: start;
        border: none;
        border-radius: 8px !important;
        position: relative;
        padding: 0px 10px 0px 50px;
        gap: 10px;
        width: 280px;
        height: 50px;
        color: var(--color-dark);
        border: 0.1px solid var(--color-disable);
        position: relative;
        &:focus {
            border: 0.1px solid var(--color-danger);
            box-shadow: none;
            outline: none;
        }
        & :global(.rmdp-container) {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            left: 0;
            border: none;
            :global(.rmdp-input) {
                width: 100% !important;
                height: 91% !important;
                padding: 0 8px 0 0;
                border: none;
                outline: none;
                &::placeholder {
                    color: var(--color-disable);
                    opacity: 0.6;
                }
            }
        }
    }
    .InputElement::placeholder {
        color: var(--color-disable);
        opacity: 0.6;
        text-align: start;
    }
    .InputElement::-webkit-outer-spin-button,
    .InputElement::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .InputElement[type="number"] {
        -moz-appearance: textfield;
        text-align: end;
    }
    .InputElement[type="number"]::placeholder {
        text-align: end;
    }
    .InputElement[type="select"]:focus {
        border: 0.1px solid var(--color-dark);
    }
    /* Chrome, Safari, Edge, Opera */
    .InputElement::-webkit-outer-spin-button,
    .InputElement::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .validInput {
        border: 0.1px solid var(--color-dark);
        &:focus {
            box-shadow: none;
            border: 0.1px solid var(--color-dark);
        }
    }
    .isLogin {
        text-align: start !important;
    }
    .isLogin::placeholder {
        color: var(--color-disable);
        opacity: 0.6;
        text-align: end;
    }
    .InvalidInput {
        border: 1px solid #b00020;
        &:focus {
            box-shadow: none;
        }
    }
    .vector {
        position: absolute;
        width: 0px;
        height: 26.5px;
        left: 40px;
        top: 12px;
        flex: none;
        order: 1;
        flex-grow: 0;
        z-index: 100;
        border-left: 0.2px solid var(--color-disable);
    }

    .staticValue {
        width: 30px !important;
        height: 17px;
        left: 7px;
        top: 17px;
        font-size: 13px;
        background-color: white;
        position: absolute;
        z-index: 100;
        width: 50px;
        font-weight: 400;
        color: var(--color-disable);
    }
}
