.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0 1rem;

    .title {
        color: var(--color-dark);
        font-weight: 700;
        font-size: 15px;
        margin-top: 5em;
    }
    .description {
        text-align: justify;
        font-weight: 400;
        font-size: 13px;
        margin-top: 1rem;
        width: 205px;
        margin: 1rem auto 0;
        flex-flow: row nowrap;
        display: flex;
        justify-content: space-between;
    }
}
.card {
    width: 360px;
    padding: 0 60px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
