:root {
    .icon {
        background: url("../src/assets/images/icons.png");
    }
    .icon-illustration {
        background: url("../src/assets//images/Illustrationicons.png");
    }
    .icon-uploader {
        background: url("../src/assets/images/iconforupload.png");
    }
    .icon-up-uploader {
        background-position: -1px -1px;
        width: 29px;
        height: 26px;
    }
    .icon-down-uploader {
        background-position: -27px -1px;
        width: 29px;
        height: 26px;
    }
    .icon-sm {
        width: 16px;
        height: 16px;
    }
    .icon-md {
        width: 24px;
        height: 24px;
    }
    .icon-lg {
        width: 40px;
        height: 40px;
    }
    .icon-xl {
        width: 48px;
        height: 48px;
    }
    .icon-xxl {
        width: 80px;
        height: 80px;
    }
    .i-user-circle {
        background-position: -7px -8px;
        cursor: pointer;
    }
    .i-back {
        background-position: -104px -190px;
        cursor: pointer;
    }
    .i-hours {
        background-position: -4px -114px;
        cursor: pointer;
    }
    .i-hours-active {
        background-position: -4px -89px;
        cursor: pointer;
    }
    .i-order {
        background-position: -29px -114px;
        cursor: pointer;
    }
    .i-order-active {
        background-position: -29px -89px;
        cursor: pointer;
    }
    .i-alert {
        background-position: -54px -114px;
        cursor: pointer;
    }
    .i-alert-active {
        background-position: -54px -89px;
        cursor: pointer;
    }
    .i-user {
        background-position: -48px -8px;
        cursor: pointer;
    }
    .i-camera {
        background-position: -104px -139px;
        cursor: pointer;
    }
    .i-info {
        background-position: -78px -231px;
    }
    .i-eye {
        background-position: -79px -164px;
        cursor: pointer;
    }
    .i-eye-hidden {
        background-position: -29px -164px;
        cursor: pointer;
    }
    .i-normal {
        background-position: -112px -231px;
    }
    .i-normal-active {
        background-position: -95px -231px;
    }
    .i-legal {
        background-position: -27px -214px;
    }
    .i-legal-active {
        background-position: -10px -214px;
    }
    .i-plus {
        background-position: -54px -139px;
        cursor: pointer;
    }
    .i-plus-active {
        background-position: -79px -139px;
        cursor: pointer;
    }
    .i-completed {
        background-position: -104px -164px;
    }
    .i-bar {
        background-position: -79px -114px;
        cursor: pointer;
    }
    .i-bar-active {
        background-position: -79px -89px;
        cursor: pointer;
    }
    .i-circle {
        background-position: -44px -231px;
    }
    .i-fillCircle {
        background-position: -61px -231px;
    }
    .i-direction {
        background-position: -27px -231px;
    }
    .i-box {
        background-position: -112px -214px;
    }
    .i-weight {
        background-position: -95px -214px;
    }
    .i-offer {
        background-position: -61px -214px;
    }
    .i-payment {
        background-position: -78px -214px;
    }
    .i-calender {
        background-position: -4px -164px;
        cursor: pointer;
    }
    .i-calender-sm {
        background-position: -10px -231px;
        cursor: pointer;
    }

    .i-order-online {
        background-position: -80.14px -7.51px;
    }
    .i-sub-online {
        background-position: -80.14px -56.51px;
    }
    .i-order-manage {
        background-position: -80.14px -105.51px;
    }
    .i-interview {
        background-position: -31.14px -7.51px;
    }
    .i-different-choice {
        background-position: -31.14px -56.51px;
    }
    .i-pay-online {
        background-position: -31.14px -105.51px;
    }
    .i-vehicle {
        background-position: -44px -214px;
    }
    .i-user-info {
        background-position: -27px -248px;
    }
    .i-user-info-active {
        background-position: -44px -248px;
    }
    .i-password {
        background-position: -61px -248px;
    }
    .i-password-active {
        background-position: -78px -248px;
    }
    .i-logout {
        background-position: -95px -248px;
    }
    .i-logout-active {
        background-position: -112px -248px;
    }
}
